@using System.Diagnostics.Eventing.Reader
@using System.Globalization
@model BicycleWorldShop.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Store Checkout";
    CultureInfo us = new CultureInfo("en-US");
}


<h3 class="text-center">
     <span><img src="~/Content/Images/shoping_cart.png" />Your shopping cart:</span>
</h3>

<div id="update-message" class="text-info">
</div>
@if (Model.CartItems.Count==0)
{
    <a class="btn-danger" href="~/Home/Index/">Your shopping cart is empty, continue shopping---></a>
}
else
{
    <table class="table-responsive table-bordered table-striped">
        <tr>
            <th>
                Product 
            </th>
            <th>
                Product Name
            </th>
            <th>
                Price (each)
            </th>
            <th>
                Quantity
            </th>
            <th>Sub-total</th>
            <th></th>
        </tr>
        @foreach (var item in Model.CartItems)


        {

             string picturename = "";
                string color = "";


                if (item.Product.Color.Equals("no"))
                {
                    picturename = item.Product.Name + ".jpg";

                    color = picturename;
                }
                else
                {
                    picturename = item.Product.Name + "_" + item.Product.Color + ".jpg";

                    color = item.Product.Color;
                }

            

            <tr id="row-@item.ProductId">
                <td>
                   


                    
                    

                    <a  href="~/Content/Images/Products/@picturename"  title=@item.Product.Name >
                        <img id="mainimg" src="~/Content/Images/Products/@picturename" title=@item.Product.Name width="100" height="100">
                    </a>


                    </td>
                <td>
                    @Html.ActionLink(item.Product.Name, "Preview", "Products", new {id = item.Product.Name})
                </td>
                <td>
                    @item.Product.Price
                </td>
                <td id="item-count-@item.ProductId">
                    @item.Count
                </td>
                <td>
                    @((item.Product.Price*item.Count).ToString("c",us))
                </td>
                <td>
                    <a href="" class="RemoveLink" data-id="@item.ProductId">
                        Remove from cart
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td>
                Total
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td id="cart-total" class="text-success">
                <b>@Model.CartTotal.ToString("C",us)</b>
            </td>
        </tr>
    </table>

    <p class="button">
        <a href="~/Home/Index/">Continue shopping>></a>
    </p>
    <p class="button">
        @Html.ActionLink("Checkout>> ", "AddressAndPayment", "Checkout")
    </p>
}




