@model BicycleWorldShop.Models.Review

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Headline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Headline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestUses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestUses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescribeYourself)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescribeYourself)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CyclingStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CyclingStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
