@model IEnumerable<BicycleWorldShop.Models.Review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
  Hidden Create Button  @*Html.ActionLink("Create New", "Create") *@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Headline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BestUses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescribeYourself)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CyclingStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Headline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BestUses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescribeYourself)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CyclingStyle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gift)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePosted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
